.Home {
    height: 92vh;
    width: 100%;
    background: url('https://lh3.googleusercontent.com/BY46SlPaF8epYZ_N0Kg8iO95IZymTeA38ZIscydOTzyfHimXsxc6e1sU91SeWfxWXUSZ2QyZyBpdGmkgbeA5yWbAu0XW25IGLpApP4Czpq3iduWYNC9ucKgeu73MiFmEti5bKQE6Ms2h1i0PS45CIxF-V8o8nlBO_oQfeVK8DS4tbSnhOjmX-nu-ODroRb3Mwbxmoxr1Shm-XuOrzJ2EZaer75hPKt3Yr_UK0C7DxfMNP2bPtMDACnO1XmW1BOMaak0e9f6gmJIm9PafNXE8OAULULpOXc6nys-viTagALd5NnNOUIU5DUtglSny-dt2eQ2e_lyKD0h5gxtPLSrWEIsQTNoChNS0zebaNOPELAF2m773Q0JOS57ou-yniULeXASX4MJ8THjLdDE4OoIrc6jgWQy1qBoWQPIcciTb1UcmaXwa5pYV8M6t02nmjG7gLmlK1ijgHi7wqI1vpm235bbwVpRmvm7ayEZuvSZsYhWSRo8ebwXV8yKbWLx-LkfzIFlbGtRUQCwTw1COJab2otzLfFGXxmRzwamePjiv4SNXOGJSLtb8vxRtbrBSd8mkqccwUoihu97Lbgk73RSMhGMLfHj-aQ5KVdSj29WfZ3pmi8RSgesTwwvXmSqJWwct2KlvqC8N2Ijbx24-EvZKzG1gkXuZx34=w887-h950-no');
    background-size: cover;
    background-repeat: no-repeat;
}

.Home_Main_Screen {
    height: 92vh;
    width: 100%;
    background: url('https://lh3.googleusercontent.com/BY46SlPaF8epYZ_N0Kg8iO95IZymTeA38ZIscydOTzyfHimXsxc6e1sU91SeWfxWXUSZ2QyZyBpdGmkgbeA5yWbAu0XW25IGLpApP4Czpq3iduWYNC9ucKgeu73MiFmEti5bKQE6Ms2h1i0PS45CIxF-V8o8nlBO_oQfeVK8DS4tbSnhOjmX-nu-ODroRb3Mwbxmoxr1Shm-XuOrzJ2EZaer75hPKt3Yr_UK0C7DxfMNP2bPtMDACnO1XmW1BOMaak0e9f6gmJIm9PafNXE8OAULULpOXc6nys-viTagALd5NnNOUIU5DUtglSny-dt2eQ2e_lyKD0h5gxtPLSrWEIsQTNoChNS0zebaNOPELAF2m773Q0JOS57ou-yniULeXASX4MJ8THjLdDE4OoIrc6jgWQy1qBoWQPIcciTb1UcmaXwa5pYV8M6t02nmjG7gLmlK1ijgHi7wqI1vpm235bbwVpRmvm7ayEZuvSZsYhWSRo8ebwXV8yKbWLx-LkfzIFlbGtRUQCwTw1COJab2otzLfFGXxmRzwamePjiv4SNXOGJSLtb8vxRtbrBSd8mkqccwUoihu97Lbgk73RSMhGMLfHj-aQ5KVdSj29WfZ3pmi8RSgesTwwvXmSqJWwct2KlvqC8N2Ijbx24-EvZKzG1gkXuZx34=w887-h950-no');
    background-image: url('https://lh3.googleusercontent.com/YOr-8uUhMTUndzrldHiw-8sJcKxo8gwxVaTfImMvQ5inVSNYclJaBCATec3LvPVpYEhZO1y8fQNT8the3R-yf6tykNuBDl18rlLLAxi_gDOGmK5Sy0joY4UtLM2uuh7k_6F3RECjEY7VReOAfZVy8LTH0KoM_0V3voMyXivas4zzqVbdBxMJ2l96rkc1sFset-OhdD72nAMV7fbd1dUSYAhNeFZhX5KMmS4JALQB8wprtEPesT5XhQi9GV6_kZo6RMPjOjQ5EVIM-FEpB5SRkGY1vn4NboKXMLXhKvQiwwao7GgpFxZn13BRc93wft2RYJfTuC2Ze6hA8CkCwCtER1XZm7yoSmHw6Wu0dtQGGlobMY_sUcqOSzzPuRPsYmhKb11jAVNJ7Qk3VFPo44k3FDM5cdsCCYSNyUf-DuVv4tpuxMvyRl4dnHy39Nuz2McRU2JBZS0YxAvasrpP_ExCIs86ltZUI_CmltKNyodns3e_spIJUYV2ijUnQKm7dt2crv2JasaYuHaBwpAfCe0BW3bfRsqGwTKB3-EmHmRc_XGdfqWYyfoKutPjUOgcRpAP2wZj0oU2Gh-VR4zsvL2nk5vwQu1LuvJ7eeJmzhwi1B3831nYUZKSfb42RR6V0Tv3ft9LL7S8X4J-yPnX5r4hcgCFMsrrDRM=w1239-h828-no');
    background-size: contain;
    background-repeat: no-repeat;
}

@import url('https://fonts.googleapis.com/css?family=Metamorphous&display=swap');
.Sheets_Outer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-image: url("https://lh3.googleusercontent.com/Cv-_I_EzxVs6jC0hOp7ft9hV8uM8-Ntwmfedb349JWPE3zEMdJTjo08emAc_LYPKOqXcfuhPjK3UkoPLyW6u5jStY3ulgmSV6_C9BUMsAaTY2l6JSxwvdCAlescNGraAjQ59T2UXhKtXlJFVo86kkOP0K8HFWgji4PuADsO3kdHLEAS63NBkzA_rUp8eSZ1XUxPPE0NrdVoPTA0QFNLbjhCQgMhAUMlzWnstM0bRhqX34VEV20pu2p-9GHDjOfM-n3qJbyZOwvzqUBTbCUpxdDpNlCmvkAJv8RoQIM9GufKoFs6-FIMcBM6_yH1cobhe7yexfY5JGi_87V8RgxVqqQotJIa8xlm3O34ToockdYD4JspSuLHzOLdkEOxcnYEPdxt4haateUxfEn2PMOC04i351F4CCayQoDUwIltsH8jUgJlFtxtWt5OW0RDJtwsmx-PaFft7ylcXL3S9Q6fGeqRFbeodbZFU3p2FihJvDyCW2hMxU8P1biNbSovkWnED_vHbMAvulfrorGCLTUUipZp_U-XC_COSP95ZMy63EV2e_fCPBBtKY_cgobPg5w9OBsNidW-pc8YjP1Re_Xcz9wChnHc2ZMjqxF54qIt2etpoUmL9g-WksuVTwul78gFHE5SZWL0edYzj6ylMeTBcZ2DeEVkzPLI=w910-h975-no");
    background-size: contain;
    font-family: 'Metamorphous', cursive;
}

input::-webkit-input-placeholder {
    font-family: 'Metamorphous', cursive;
    color: #292929;
}

select,
option,
input {
    font-family: 'Metamorphous', cursive;
    background: linear-gradient(rgb(255, 237, 136), rgb(219, 167, 35));
    border: none;
    border-radius: 5px;
    height: 40px;
    width: 200px;
    font-size: 1.2rem;
    font-style: bold;
}

.Sheets_main {
    font-family: 'Metamorphous', cursive;
    height: 90%;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 20px;
    box-shadow: 5px 10px 4px 1px #292929;
    background: linear-gradient(135deg, rgba(190, 68, 68, 0.9), rgb(54, 2, 2, .8) 70.71%);
    /* background-image: url('https://lh3.googleusercontent.com/-A_2dlS5h19M73GAh1hxHv0orAJ95FAyfxyLAqwrFP1IAWh7tYOOIuJs9vr_z4OsuS3eK8ZtTC4VOp1bf_HlKjc67-Akj9G5dFG34WS8CD8gv2Q2BZhl6ghs5A7gbcPbB_1_5MeZf2i5G_7kHgut6cAsKpNqKzYU82gLYIUsGF1FABIwonzTdOI___eupufNX0G6w6Uul_EieO6ND8fzCeGgUqdoCG1uFnGTvvZDtBdpjqtjt0UKWdtrr9RQiF8F3jOeCXJjg53JkiNr5cskrxWz10pxKQUBbWdurWQzw2gXrRgdBpW0TOAKW-cMJuPxAmItf5mF040zsBZm3VPCWytvMQiXz2aH50A9klnIQLCGpkAJwTFg1fIUlaH0f0xPwhAzET5XNQxzYCE2zHF5qbzJHCZHjQb04HncAiCduXMZTOkj40pG2aiS4xNIq85c88ZiVSagmWN7Jox5bu5UigIU1h6vCg86xd-duIWxPZRB1r5n_IfoiwFlRdsZ0rAJiNGpDPaINDNTuDx--W0EeX1KasI4mnfhymem0XtPw0s1cWuDt9ZpluDVOJk7JIFmmHEQqqUS6Q1qNEf6lMVqhDUye-G2j7w_QRz0e2sJlFgGuzfxrZjUoL2jRLsWE_bBSPZXEv6_WbmxCpLIY9Fr4ikbx1weZx0=w1331-h926-no');
    background-size: cover;
    background-repeat: no-repeat; */
}

.Sheets_Sheet {
    height: 100%;
    width: 500px;
    background-repeat: no-repeat;
    display: flex;
    position: relative;
    top: 7%;
    align-items: center;
    flex-direction: column;
    /* background-image: url('https://lh3.googleusercontent.com/MbFZ9p5wAtaOk6Pe0zbjtLM7vHXW9UpA2lqNuz9rqC8C45w27XNo5yY7rdQM_zuZPcf_B8fhrbvDYx1j2p9kpXrITbJVQPqF5OpJIwOHw8Y7OKCsKhkJ4BIMCsi0-ErM6UVm-ZJ5eBiVDTz5Jo21__hJt1ubNz3-ne55-ZNfMeINjO4juMvsN1vAe-Zm0sf_b-L29vHTQI4OAJK0FM8XGymsA3em1KIXcqrWykXmbgJQNJM7cr71oMTT_SUwn1DAVHuXAI0pMQGeFfqULaKw6r-5WRlpAbmF9ed3gRq7AgsBBKW6sJDfYH0g-lk-Dx5Vx2S5hIpanwof66GNZYH66-gVC9lDwujgw0cVTu5etrWtq9UZh7-gA4lBARaPkiJxXGeiqU3krBcbQUISgXgLMXYF4_muAPMoTrsVDODhSxfs7q8eCArDuzdKmjHTf3O_oc5JSSyzetBvBfW-wDQvcME1g0Ryf0wcepVy3eGtrrlajADbdI9_dij43Jb0dPOP9hK_QdAXvoPrbZVYt0wKz21OGjpOHggLi_Ky7hSFdd8r2SnBThUkjoU7I8dO-TbUoIrniEQrBAWP8BRL9-z_jfHRKgL1ft4lQd_jWZx63q5lhbeR968vCj5BeUlLcwVyYGV1cJbSVmZ1E0O-tV1zRc_72NzemYA=w716-h926-no');
    background-size: contain; */
}

@media(max-width: 650px) {
    .Sheets_main {
        height: 100%;
        width: 100%;
    }
}

.Sheets_Header {
    height: 9%;
    width: 100%;
    border: Black 1px solid;
    display: flex;
    align-items: center;
}

.Sheets_Character_Name {
    height: 50%;
    width: 40%;
    border: blue 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 2%;
}

.Sheets_Character_Info {
    height: 95%;
    width: 55%;
    border: blue 1px solid;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    left: 3%;
}

.Sheets_Character_Info_Box {
    height: 49%;
    width: 32%;
    border: 1px solid blue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Sheets_Main_Body {
    height: 65%;
    width: 100%;
    display: flex;
}

.Three_Pillars {
    border: 1px red solid;
    height: 100%;
    width: 33%;
}

.Three_Pillars_First {
    border: 1px red solid;
    height: 100%;
    width: 33%;
    display: flex;
    flex-direction: column;
}

.Sheets_Abilitypoints_Column {
    height: 100%;
    width: 40%;
    border: 1px brown solid;
    display: flex;
    flex-direction: column;
}

.Sheets_Skills_Column {
    height: 100%;
    width: 60%;
    border: 1px brown solid;
}

.Sheets_Ability_skills {
    height: 64%;
    width: 100%;
    display: flex;
}

.Sheets_Passive_Perception {
    height: 7%;
    width: 100%;
    border: 1px brown solid;
}

.Sheets_Other_Profeciencies {
    height: 29%;
    width: 100%;
    border: 1px brown solid;
}

.Sheets_Ability {
    width: 100%;
    height: 16%;
    border: 1px brown solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Sheets_Skills_Column_Second {
    height: 100%;
    width: 60%;
    border: 1px brown solid;
    display: flex;
    flex-direction: column;
}

.Sheets_Inspiration {
    width: 100%;
    height: 9%;
    border: 1px brown solid;
}

.Sheets_Profeciency_Bonus {
    width: 100%;
    height: 9%;
    border: 1px brown solid;
}

.Sheets_Saving_Throws {
    width: 100%;
    height: 22%;
    border: 1px brown solid;
}

.Sheets_Skills {
    width: 100%;
    height: 100%;
    border: 1px brown solid;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: rgba(255, 255, 255, 0.404)
}

.Sheets_Individual_Skill {
    height: 5%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.Sheets_Middle_One {
    height: 10%;
    width: 100%;
    border: 1px purple solid;
}

.Sheets_Middle_Two {
    height: 17%;
    width: 100%;
    border: 1px purple solid;
}

.Sheets_Middle_Three {
    height: 9%;
    width: 100%;
    border: 1px purple solid;
}

.Sheets_Middle_Four {
    height: 28%;
    width: 100%;
    border: 1px purple solid;
}

.Sheets_Middle_Five {
    height: 34%;
    width: 100%;
    border: 1px purple solid;
}

.Sheets_Personality {
    height: 35%;
    width: 100%;
    border: 1px rgb(33, 161, 8) solid;
}

.Sheets_Traits {
    height: 64%;
    width: 100%;
    border: 1px rgb(33, 161, 8) solid;
}