a {
    text-decoration: none;
    color: rgb(53, 53, 53);
}

.Nav_main {
    height: 8vh;
    width: 100vw;
}

.Nav_Header {
    height: 100%;
    width: 100%;
    background-color: rgb(155, 18, 18);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Nav_Builders {
    height: 50%;
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.Nav_Links {
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: silver;
    position: relative;
    left: 10px;
    color: rgb(53, 53, 53);
    border: 2px rgb(90, 89, 89);
    border-style: solid none none solid;
    border-radius: 0 10px 0 10px;
}

.Nav_Hamburger {
    height: 100%;
    width: 20%;
    display: none;
    justify-content: center;
    align-items: center;
    background: silver;
    position: relative;
    left: 10px;
    color: rgb(53, 53, 53);
    border: 2px rgb(90, 89, 89);
    border-style: solid none none solid;
    border-radius: 0 10px 0 10px;
}

.Nav {
    height: 0%;
    width: 50px;
    background-color: silver;
}

.Login {
    border-radius: 0 10px 0 10px;
    width: 20%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 10px;
    color: rgb(53, 53, 53);
    border: 2px rgb(90, 89, 89);
    border-style: solid none none solid;
}

.dropdown {
    display: none;
    height: 145px;
}

.Nav_container {
    display: flex;
    flex-direction: column;
}


/* @media(max-width: 950px) {
    .Nav_Links {
        display: none;
    }
    .Nav_Hamburger {
        display: flex;
        height: 5vh;
        position: relative;
        bottom: 10px;
    }
    .Login {
        height: 80%;
    }
} */