a {
    text-decoration: none;
    color: rgb(53, 53, 53);
}

.Nav_main {
    font-family: 'Metamorphous', cursive;
    height: 10vh;
    width: 100vw;
}

.Nav_Header {
    height: 100%;
    width: 100%;
    background-color: rgb(155, 18, 18);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Nav_Builders {
    position: relative;
    right: 20px;
    height: 50%;
    width: 550px;
    display: flex;
    justify-content: space-around;
}

.Nav_Links {
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: silver;
    position: relative;
    left: 10px;
    color: rgb(53, 53, 53);
    border: 2px rgb(90, 89, 89);
    border-style: solid none none solid;
    border-radius: 0 10px 0 10px;
}

.Nav_Hamburger {
    height: 100%;
    width: 20%;
    display: none;
    justify-content: center;
    align-items: center;
    background: silver;
    position: relative;
    left: 10px;
    color: rgb(53, 53, 53);
    border: 2px rgb(90, 89, 89);
    border-style: solid none none solid;
    border-radius: 0 10px 0 10px;
}

.Nav {
    height: 0%;
    width: 50px;
    background-color: silver;
}

.Login {
    border-radius: 0 10px 0 10px;
    width: 100px;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 10px;
    color: rgb(53, 53, 53);
    border: 2px rgb(90, 89, 89);
    border-style: solid none none solid;
}

.Nav_container {
    display: none;
}

.Nav_Hamburger:hover {
    background-color: black;
    color: white;
    display: flex;
}

@media(max-width: 630px) {
    .Nav_Links {
        display: none;
    }
    .Nav_Builders {
        display: flex;
        justify-content: flex-start;
    }
    .Nav_Hamburger {
        display: flex;
        height: 8vh;
        width: 80px;
        position: relative;
        bottom: 10px;
        left: 30px;
        font-size: 1.6rem;
    }
    .Login {
        height: 80%;
    }
}

@media(max-height:500px) {
    .Nav_main {
        height: 50px;
    }
}